:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  background-color: #f4f7f6;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

header h1 { text-align: center; color: #2c3e50; margin-bottom: 5px;}
header p { text-align: center; color: #7f8c8d; margin-top: 0;}

.task-form-card {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.form-input, .form-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 10px;
}


.form-select { flex: 1; } 

.add-btn {
  width: 100%;
  padding: 12px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.add-btn:hover { background-color: #2ecc71; }

.empty-state { text-align: center; color: gray; padding: 20px; }

.task-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}


.badge {
  background-color: #f39c12; 
  color: white;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.75rem;
  font-weight: bold;
}

.high-priority { background-color: #e74c3c;  }
.low-priority { background-color: #27ae60;  }

.completed-task {
  background-color: #f9f9f9;
  text-decoration: line-through;
  opacity: 0.7;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}



.filter-section {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.filter-group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.filter-group label {
  font-weight: bold;
  color: #555;
  font-size: 0.9rem;
}

.filter-group select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}


input[type="date"] {
  font-family: inherit;
  color: #555;
}




.edit-btn {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}
.edit-btn:hover { background-color: #d35400; }

.cancel-btn {
  background-color: #95a5a6;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.cancel-btn:hover { background-color: #7f8c8d; }